.timeline-main {
    display: flex;
    flex-direction: column;
}
/*the timeline is not centered*/

.header {
    align-self: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.timeline-container {
    display: flex;
    justify-content: center;
}

.status-container {
    width: 10rem;
    display: flex;
}

/* maybe move this to the left or something, the text isnt really centered*/
.label {
    position: absolute;
    margin-top: 2rem;
    width: 10rem;
    margin-left: -4.5rem;
    text-align: center;
}

.label-current {
    font-size: 2rem;
}

.label-incomplete {
    font-size: 1rem;
    color: #bbb
}

.label-complete {
    font-size: 1rem;
    color: darkgreen;
}

/*general todo//when making thead screen narrow thead text color-profile the right hangs off */
/*TODO the chart doesnt collapse well when narrowing*/
.line {
    width: 12rem;
    margin-bottom: 0.65rem;
}

.line-complete {
    border-bottom: 2px solid green;
}

.line-incomplete {
    border-bottom: 2px solid #bbb;
}

/* the roundness of the circle is not responsive, it becomes very oval-like*/
/* the circles are not exactly circular, the ones in the middle are squished in some way*/
.circle {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.circle-current {
    background-color: #03b1fc;
}

.circle-complete {
    background-color: #03fc39;
}

.circle-incomplete {
    background-color: #bbb;
}