.timeline-main {
    display: flex;
    flex-direction: column;
}

.header {
    align-self: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.timeline-container {
    display: flex;
    justify-content: center;
}

.status-container {
    width: 10rem;
    display: flex;
}

/*general todo//when making thead screen narrow thead text color-profile the right hangs off */
/*TODO the chart doesnt collapse well when narrowing*/
.line {
    border-bottom: 2px solid red;
    width: 12rem;
    margin-bottom: 0.65rem;
}

/* maybe move this to the left or something, the text isnt really centered*/
.label {
    position: absolute;
    margin-top: 2rem;
    width: 10rem;
    margin-left: -4.5rem;
    text-align: center;
}

/* the roundness of the circle is not responsive, it becomes very oval-like*/
.circle {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.current {
    background-color: #03b1fc;
}

.complete {
    background-color: #03fc39;
}

.incomplete {
    background-color: #bbb;
}